
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark Mode */
  --black-color-bg: #0d1117;
  --gray-color: #161b22;
  --purple-color: #acb4fe;
  --purple-smoke-color: #cdd0f3;
  --white-smoke-color: #8b949e;
  --white-color: #e5e5e5;
  --gradient-color: linear-gradient(99.51deg, #cbbee7 9.03%, #ffffff 89.53%);

  /* Light Mode */
  --white-color-bg: #e1e3f9;
  --white-color-smoke-bg: #cdd0f3;
  --purple-dark-color: #ae88fe;
  --black-color: #212121;
  --white-gradient-color: linear-gradient(
    99.51deg,
    #acb4fe 9.03%,
    #ae88fe 89.53%
  );
}

